.header_title{
    padding: 1rem;
}

.content_container{
    padding-bottom: 2rem;
}

.btn{
    width: 100%;
    margin-top: 3rem;
    background-color:$rose-color!important; 
}

.txtField{
    width: 100%;
    //margin: 0;
    font-size: 'large';
}

.addIcon{
    background-color:$blue-color!important; 
}

.headline_title{
    padding: 1rem;
    padding-bottom: 0;
    color: $rose-color!important;
}

.active{
    border-bottom: 3px solid #fff;
}

.noborder{
    border-bottom: 0;
}