.menu_container{
    flex: 1;
    padding: 2rem;
}

.nav_container{
    width: 100%;
}

.nav_appbar{
    background-color: $navbar-color !important;
}

.avatar{
    background-color: $rose-color !important;
}