.fieldset_container{
    margin: 2rem;
}
fieldset{
    border: 1px solid silver;
    padding: 1rem;
}
legend{
    padding: 1rem;
}

.tableau_resultat{
    margin: 3rem;
}

.colonneDetail{
    display: flex;
    justify-content: center;
}

.detailButton{
    cursor: pointer;
}